.header{
    background: var(--color-header);
    color: #f2f2f2;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.header img{
    width: 500px;
}

.nav{
    background: var(--color-nav);
    padding: 5px 30px;
}

.nav ul{
    display: flex;
    justify-content: start;
    list-style: none;
    gap: 15px;
}

.nav ul li{
    cursor: pointer;
}

.nav ul li:hover{
    color: rgb(51, 51, 51);
}

.nav ul li i{
    font-size: 0.7rem;
}

.menu-desplegable-inventario{
    opacity: 0;
    position: relative;
    display: inline-block;
    top: -500px;
    left: -500px;
    padding: 5px 15px;
    box-shadow: 0 0 5px;
    background: var(--color-nav);
}

.menu-desplegable-inventario ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.menu-desplegable-inventario ul li{
    cursor: pointer;
}

.menu-desplegable-inventario ul li:hover{
    color: rgb(51, 51, 51);
}

